html,body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    
    max-height: 300px;
}

.list-wrapper{
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    background: whitesmoke;
    overflow-y: auto;
    
}

.list{
    padding-left: 10px;
    padding-right: 10px;
}

.list-item{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    transition: all ease .6ms;   
}

.list-item__img img{
    border-radius: 50%;
    height: 80px;
}

.list-item__name p{
    margin: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 600;
}

.list-item__name span{
    font-size: 15px;
    color: gray;
}

.list-item__icons{
    padding-top: 20px;
}

.list-item__icons a{
    text-decoration: none;
    margin-right: 5px;
}

