body{
    margin: 0;
    padding: 0;
    background:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    
}

.list-wrapper{
    width: 90%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    
}
.list{
    flex-basis: 280px;
}

.list-item{
    list-style-type: none;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(/listacontato/imagens/thumb02.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-item__img img{
    border-radius: 50%;
    height: 80px;
    margin-top: 120px;
}

.list-item__name p{
    font-size: 24px;
    margin: 0;
    color: #385555;
}

.list-item__icons{
    margin-top: 20px;
    display: flex;
    background-color: #E5E5E5;
    padding: 10px;
    justify-content: space-evenly;
    gap: 16px;
}


